{{{ _editable }}}
<a href="{{#ifEquals name "home"}}/{{else}}{{ url href }}{{/ifEquals}}" class="{{ class }} {{ size }}" title="{{ title }}" data-wow-delay="{{ wow_delay }}" target="{{#if open_new_tab }}_blank{{/if}}">{{ text }}</a>
